<h4 style="align:center">There has been <%=@shares.count%> trades</h4>

<% @shares.reverse_each do |share| %> 
<div class="share">
  <div class="share_img" style="pull-left">
    <img src="<%=share.user.img_url%>">
  </div>
  <div class="share_img pull-right">
    <img src="<%=share.reciever.img_url%>">
  </div>
</div>
<% end %>








