<div class="jumbotron">
  <h2>Looking for a place to code?</h2>
  <small>Find a spot now<small>
    <%= link_to "Twitter Login", user_omniauth_authorize_path(:twitter), :class =>"btn btn-primary btn-lg" %>
  </p>
</div>


