<div class="jumbotron">
  <h3>Don't like to wait in line?</h3>
  <p>Discover new spots now.<p>
    <%= link_to "Twitter Login", user_omniauth_authorize_path(:twitter), :class =>"btn btn-primary btn-lg" %>
  </p>
</div>


