<div style="margin:0 auto ;">
  <iframe width="80%" height="300" margin="auto 0"frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=nyc+map&amp;ie=UTF8&amp;hq=&amp;hnear=New+York&amp;gl=us&amp;ll=40.714353,-74.005973&amp;spn=0.087414,0.166855&amp;t=m&amp;z=13&amp;output=embed">
  </iframe>
</div>