<p>
  <h3>
    Places to Code
  </h3> 
  <h5>
    <%= link_to 'New Spot', new_venue_path %>
  </h5>
</p>

<% @venues.each do |venue| %>
  
  <p class="well"><%= link_to "#{venue.name}", venue %></p> 

<% end %> 



<!-- <a href="/venues/id">
  <div>
    <img
  </div>
</a> -->