<h4> Venues </h4>

<% @venues.each do |venue| %>
  <p class="well"><%= link_to "#{venue.name}", venue %></p> 
<% end %> 

<%= link_to 'add venue', new_venue_path %>

<!-- <a href="/venues/id">
  <div>
    <img
  </div>
</a> -->