<h3>
  <%= link_to 'New Venue', new_venue_path %>
</h3> 

<% @venues.each do |venue| %>  
  <div class="well">
    <h4><%= link_to "#{venue.name}", venue %></h4>
    <p>venue.location</p>
  </div> 
<% end %> 



