    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=<%= current_user ? venues_path : "#"%>>
          <strong>Cool Kids</strong></a>
      </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
            <li><a href="/news">News</a></li>
            <li><a href="/venues">Venues</a></li>
            <!-- <li><%#= link_to "Trade", users_path %> </li>  -->
            <li><a href="/profile">Profile</a></li>
          <%else%>
            <li><a href="#">About</a></li>
          <% end %>
        </ul>
      </div> 
    </nav>